/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* CSS variables */
:root {
  --khaki: #BCB7A4;
  --light-green: #BEC7BC;
  --dark-green: #76896E;
  --black: #000000;
  --white: #FFFFFF;

  --green: #2E6F40; /* for correct answers */
  --red: #C20303; /* for incorrect answers */
}

/* Global styles */
body {
  background-color: var(--khaki);
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.hide {
  display: none !important;
}

/* Navbar */
nav {
  border-bottom: 2px solid var(--dark-green) !important;
}

#navbar {
  background-color: var(--khaki);
  border: 10px black;
}

#navbar .logo {
  width: 30px;
}

.logo {
  margin: -5px -5px 0px 6px;
}

.navbar-brand {
  color: var(--black);
  font-size: xx-large;
  font-weight: bold;
}

.dropdown-menu {
  min-width: 300px;
  background-color: var(--light-green);
  color: var(--black);
  border-color: var(--dark-green);
  border-width: 2px;
  --bs-dropdown-link-hover-bg: none;
}

.dropdown-item {
  max-width: 80vw;
  text-wrap: wrap;
}

/* Buttons */
.custom-button-outline,
.btn-outline-secondary,
.btn-difficulty,
#home-button,
#answer1,
#answer2,
#answer3,
#answer4,
#new-game-button {
  border-color: var(--dark-green);
  border-width: 2px;
  background-color: var(--khaki);
  color: var(--black);
}

.custom-button-outline:hover,
.btn-outline-secondary:hover,
.btn-difficulty:hover,
#instructions-button:hover,
#contact-button:hover,
#home-button:hover,
#answer1:hover,
#answer2:hover,
#answer3:hover,
#answer4:hover,
#new-game-button:hover {
  background-color: var(--dark-green);
  border-color: var(--khaki);
  border-width: 2px;
  color: var(--white);
}

#instructions-button,
#contact-button {
  border-color: var(--dark-green);
  border-width: 2px;
  background-color: var(--light-green);
  color: var(--black);
}

.btn-outline-secondary,
.btn-difficulty {
  margin: 0 5px 10px 5px;
}

.btn-secondary {
  --bs-btn-bg: var(--light-green);
  color: var(--black);
  --bs-btn-hover-bg: var(--dark-green);
  --bs-btn-active-bg: var(--dark-green);
  border-width: 2px;
}

#instructions-button {
  margin-right: 1px;
}

#contact-button {
  margin-left: 1px;
}

#answer-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  margin: 20px;
}

#answer1,
#answer2,
#answer3,
#answer4 {
  margin: 3px 3px 3px 3px;
}

#new-game-button {
    display: inline-block;
    margin: 20px auto;
    width: auto;
}

.btn-difficulty.active,
.btn.selectedAnswer {
  background-color: var(--dark-green) !important;
  border-color: var(--khaki)!important;
  border-width: 2px!important;
  color: var(--white) !important;
}

/* Quiz setup */
.quiz-container {
  border: 2px solid var(--dark-green) !important;
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
  border-radius: 30px;
  margin: 20vh 20vw;
  height: 300px;
}

#username {
  border-color: var(--dark-green);
  border-width: 2px;
  margin: 10px 0 10px 0;
}

#player-name,
#username,
#select-difficulty,
#success-paragraph {
  font-size: large;
}

h2 {
  margin-top: 20px;
  font-size: large;
}

#select-difficulty {
  margin-top: 5px;
}

/* Loader */
#loader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--dark-green) !important;
    background-color: var(--light-green);
    border-radius: 30px;
    margin: 20vh 20vw;
    height: 300px;
    font-size: large;
}

#loader-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 20px solid var(--dark-green);
    border-top: 20px solid var(--khaki);
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Question section */
#question-section,
#results-section {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--dark-green) !important;
    background-color: var(--light-green);
    border-radius: 30px;
    margin: 20vh 20vw;
}

#question-number {
  margin-top: 20px;
  font-size: large;
}

.fa-solid.fa-check {
  color: var(--green);
  font-size: large;
}

.fa-solid.fa-xmark {
  color: var(--red);
  font-size: large;
  margin-left: 5px;
}

#correct-answers {
    margin-right: 5px;
}

#question,
#timer {
    margin-top: 10px;
}

/* Results section */
#final-result {
  font-size: large;
  margin-top: 25px;
}

/* Submission page */
.submission-container {
  border: 2px solid var(--dark-green) !important;
  background-color: var(--light-green);
  border-radius: 30px;
  margin: 20vh 20vw;
  height: 200px;
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid var(--dark-green) !important;
}

.footer-column {
  background-color: var(--khaki);
  flex: 1;
  padding: 15px;
  width: 33.33%;
  text-align: center;
}

.footer-column i {
  font-size: xx-large;
  color: var(--black);
}

/* Media queries */

/* Small devices (mobiles, up to 576px) */
@media screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 24px;
  }

  .ms-auto {
    margin-left: 0 !important;
  }

  #success-logo {
    margin-left: -9px;
    margin-right: -5px;
  }

  .navbar-nav {
    flex-direction: row;
  }

  #contact-paragraph {
    text-align: center !important;
  }

  #contact-dropdown {
    position: absolute !important;
    left: 50% !important;
    right: auto !important;
    transform: translate(-72%, 0) !important;
  }

  #instructions-dropdown {
    position: absolute !important;
    left: 50% !important;
    right: auto !important;
    transform: translate(-33%, 0) !important;
  }

  .p-4 {
    padding-bottom: 0.5rem !important;
    padding-top: 1rem !important;
  }

  .quiz-container,
  .submission-container,
  #question-section {
    margin: 22vh 5vw;
    height: auto;
  }

  h2 {
    padding: 5px;
  }

  #username {
    margin: 0 0 10px 0;
  }

  .btn-outline-secondary,
  .btn-difficulty,
  #home-button {
    margin: 0 5px 15px 5px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .p-4 {
    padding-bottom: 0.5rem !important;
    padding-top: 1rem !important;
  }

  .submission-container {
    height: 255px;
  }

  #answer-buttons {
    grid-template-columns: repeat(2, 210px);
  }
}

/* Large devices (laptops, 992px and up) */
@media screen and (min-width: 992px) {
  h2 {
    font-size: x-large;
  }
  .submission-container {
    height: 240px;
  }

  #success-paragraph {
    margin: 0 5px 15px 5px;
  }

  #answer-buttons {
    grid-template-columns: repeat(2, 275px);
    margin-bottom: 30px;
  }
}

/* XL devices (xl screens, 1200px and up) */
@media screen and (min-width: 1200px) {
  .submission-container {
    height: 220px;
  }

  #answer-buttons {
    grid-template-columns: repeat(2, 350px);
  }
}
