/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS Variables */ 
:root {
    --khaki: "#BCB7A4",
    --light-green: "#BEC7BC",
    --dark-green: "#76896E",
    --black: "#000000",
    --white: "#FFFFFF",
}

/* Global styles */
body {
    background-color: #BCB7A4;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

/* Navbar */
nav {
    border-bottom: 2px solid #76896E!important;
}

#navbar {
    background-color: #BCB7A4;
    border: 10px black;
}

#navbar .logo {
    width: 30px;
}

.logo {
    margin: -5px -5px 0px 6px;
   }

.navbar-brand {
    color: #000000;
    font-size: xx-large;
    font-weight: bold;
}

.dropdown-menu {
    min-width: 300px;
    background-color: #BEC7BC;
    color: #000000;
    border-color: #76896E;
    border-width: 2px;
    --bs-dropdown-link-hover-bg: none;
}

.dropdown-item {
    max-width: 80vw;
    text-wrap: wrap;
}

/* Buttons */
.custom-button-outline,
.btn-outline-secondary,
#instructions-button,
#contact-button,
#home-button {
    border-color: #76896E;
    border-width: 2px;
    background-color: #BCB7A4;
    color: #000000;
}

.custom-button-outline:hover,
.btn-outline-secondary:hover,
#instructions-button:hover,
#contact-button:hover,
#home-button:hover {
    background-color: #76896E;
    border-color: #BCB7A4;
    border-width: 2px;
    color:#FFFFFF;
}

.btn-outline-secondary {
    margin: 0 5px 10px 5px;
}

.btn-secondary {
    --bs-btn-bg: #BEC7BC;
    color:#000000;
    --bs-btn-hover-bg: #76896E;
    --bs-btn-active-bg: #76896E;
    border-width: 2px;
}

/* Quiz setup */
.quiz-container {
    border: 2px solid #76896E!important;
    display: flex;
    flex-direction: column;
    background-color: #BEC7BC;
    border-radius: 30px;
    margin: 20vh 20vw ;
    height: 300px;
}

#username {
    border-color: #76896E;
    border-width: 2px;
    margin: 10px 0 10px 0;
}

#username,
#select-difficulty,
#success-paragraph {
    font-size: large;
}

h2 {
    margin-top: 20px;
    font-size: large;
}

#select-difficulty {
    margin-top: 5px;
}

/* Submission Page */
.submission-container {
    border: 2px solid #76896E!important;
    background-color: #BEC7BC;
    border-radius: 30px;
    margin: 20vh 20vw ;
    height: 200px;
}

/* Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #76896E!important;
}

.footer-column {
    background-color: #BCB7A4;
    flex: 1; 
    padding: 15px; 
    width: 33.33%; 
    text-align: center;
  }

  .footer-column i {
    font-size: xx-large;
    color: #000000;
  }

  /* Media queries */

/* Small devices (mobiles, up to 576px) */
@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 24px;
  }

   .ms-auto {
    margin-left: 0!important;
   }

   #success-logo {
    margin-left: -9px;
    margin-right: -5px;
   }

    .navbar-nav {
        flex-direction: row;
   }

   #contact-paragraph {
    text-align: center !important;
   }

    #contact-dropdown {
        position:absolute!important;
        left: 50% !important;
        right: auto !important;
        transform: translate(-72%, 0) !important;
   }

   #instructions-dropdown {
       position:absolute!important;
       left: 50% !important;
       right: auto !important;
       transform: translate(-33%, 0) !important;
  }

   .p-4 {
       padding-bottom: .5rem!important;
       padding-top: 1rem!important;
   }

   .quiz-container,
   .submission-container  {
       margin: 22vh 5vw;
       height: auto;
   }

   h2 {
    padding: 5px;
   }

   #username {
    margin: 0 0 10px 0;
   }

   .btn-outline-secondary,
   #home-button {
    margin: 0 5px 15px 5px;
   }
}
  
  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) {

    .p-4 {
        padding-bottom: .5rem!important;
        padding-top: 1rem!important;
    }

    .submission-container  {
        height: 255px;
    } 

  }
  
  /* Large devices (laptops, 992px and up) */
  @media screen and (min-width: 992px) {
    h2 {
        font-size: x-large;
    }
    .submission-container  {
        height: 240px;
    } 

    #success-paragraph {
        margin: 0 5px 15px 5px;
    }
  }
  
  /* XL devices (xl screens, 1200px and up) */
  @media screen and (min-width: 1200px) {
    .submission-container  {
        height: 220px;
    } 
  }